body{
background-color: aliceblue;

}
a {
    text-decoration: none;
    color: red;
}
h1, h2,h3{
    margin: 0;
}
img{
    width: 170px;
    height: 190px;
    margin-right: auto;
    margin-left: auto;
}
#container{
background-color: aliceblue;
width: 800px;
margin-left: auto;
margin-right: auto;

}
#header{
background-color: #66CCFF;
text-align: center;
font-family: Helvetica, Arial,sans-serif;
padding: 10px;
}
#content{
padding: 10px;
}
#nav{
background-color: ghostwhite;
width: 180px;
float: left;
text-decoration:none;
    
}
#nav .selected{
font-weight: bold;
}
#nav ul{
list-style: none;
    padding: 0;
}
#main{
background-color: aliceblue;
width: 600px;
float: right;

}
#footer{
clear: both;
text-align: center;
background-color: burlywood;
padding: 10px;
color: white;
}
